body{
	background: #EFEFEF;
}
body, html{
    height: 100%;
}
h2{
	font-family: 'Indie Flower', cursive;
	font-size: 26px;
	font-weight: 900;
	color: black;
	text-shadow: 0 0 0.8em #FFFFFF, 0 0 0.8em #FFFFFF, 0 0 0.8em #FFFFFF;
}
p{
	font-family: 'Indie Flower', cursive;
	font-size: 22px;
	color: #FFFFFF;
	text-shadow: 0 0 0.8em #000000, 0 0 0.8em #000000,0 0 0.8em #000000;
}
#logo{
	position: fixed;
	/*max-width: 300px;*/
	float: left;
	padding-bottom: 10px;
}
.btn-navbar{
	padding: 10px;
	position: center;
}
.btn-navbar a{
	color: black;
	font-family: 'Indie Flower', cursive;
	font-size: 26px;
	text-shadow: 0 0 0.2em #BFF6FF, 0 0 0.2em #BFF6FF,0 0 0.2em #BFF6FF;
}

.btn-navbar > a:hover{
	text-shadow: 0 0 0.8em #BFF6FF, 0 0 0.8em #BFF6FF,0 0 0.8em #BFF6FF;
	text-decoration: underline;
}

.parallax-container{
    padding: 400px 200px;
    /*This gives our headings a bit of breathing room */
    background-size: 1125px 1800px;
}
.navbar{
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 10px;
	background: #EFEFEF;
	position: fixed center;
}
.js-background-1 {
    background: transparent url("../images/about.png") center 0 repeat;
}
.js-background-2 {
    background: transparent url("../images/team.png") center 0 repeat;
}
.js-background-3 {
    background: transparent url("../images/portfolio.png") center 0 repeat;
}
.js-background-4 {
    background: transparent url("../images/contact.png") center 0 repeat;
}
.aboutSection {
    /* The image used */
    background-image: url("../images/about.png");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.teamSection {
    /* The image used */
    background-image: url("../images/team.png");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.portfolioSection {
    /* The image used */
    background-image: url("../images/portfolio.png");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contactSection {
    /* The image used */
    background-image: url("../images/contact.png");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
