/* Written by Ken Hua Liew 2017*/
body, html{
    height: 100%;
}
body {
	background-color: black;
}

/* Most types are h2 */
h2 {
	font-family: 'Montserrat', sans-serif;
	color: white;
	padding-left: 5px;
}

/* Social media links font is h4 */
h4 {
	font-family: 'Montserrat', sans-serif;
	color: white;
}

/* so it responds to height instead */
#img-responsive-custom {
	height:100%;
	width: auto;
}

/* Onlu used in About section divider */
#title{
	flex:8;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
#logo {
	flex:4;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

/* common classes */
.divider-center {
	display: flex;
	flex:1;
	height: 80%;
  align-items: center;
	justify-content: center;
}
.divider {
	height: 25%;
	background-color: black;
	display: flex;
  align-items: center;
	justify-content: center;
}
/* Parallax scrolling effect */
.section {
	height: 75%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#about {
    background-image: url("../images/about.png");
}
#team {
    background-image: url("../images/team.png");
}
#portfolio {
    background-image: url("../images/portfolio.png");
}
#contact {
    background-image: url("../images/contact.png");
}
