body, html{
    height: 100%;
}
body {
	background-color: black;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	color: white;
	padding-left: 5px;
}
.img-responsive-custom {
	height:100%;
	width: auto;
}

.about-divider {
	height: 80%;
}
.title{
	flex:8;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.logo {
	flex:4;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.center {
	display: flex;
	flex:1;
  align-items: center;
	justify-content: center;
}
.divider {
	height: 25%;
	background-color: black;
	display: flex;
  align-items: center;
	justify-content: center;
}
.section {
	/* Full height */
	height: 75%;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#about {
    background-image: url("../images/about.png");
}
#team {
    background-image: url("../images/team.png");
}
#portfolio {
    background-image: url("../images/portfolio.png");
}
#contact {
    background-image: url("../images/contact.png");
}
